<section class="video">
    <div class="container">
        <div class="main">
            <div class="row">
                <div class="col-md-12 video-head">
                    <h2>@ViewBag.Translate</h2>
                </div>
            </div>
            <div class="container">
                <div class="row owl-carousel video-you">
                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/jTLQhZoVsEY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/jTLQhZoVsEY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/jTLQhZoVsEY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center social-contact" style="margin-top: 0%;">
                <div class="col-md-12">
                    <a class="btn-floating blue accent-1" href="#" style="background: red !important;"><i class="fa fa-youtube"></i></a>
                    <p style="display: inline-block;"><a style="cursor:pointer" href="#">Yeniliklərimiz...</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="~/js/video.js"></script>
}
