<section class="purpose map" style="margin-top: 6%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-12">
                <div class="card card-cascade narrower col-md-6">
                    <div class="view view-cascade gradient-card-header peach-gradient">
                        <h5 class="mb-0">@ViewBag.Translate</h5>
                    </div>
                    <div class="card-body card-body-cascade text-center">
                        <div id="map-container-google-9" class="z-depth-1-half map-container-5" style="height: 300px">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3038.4963305296346!2d49.804198314894016!3d40.39785426471204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4030877a4797f4a9%3A0xd4c3f622bb6685d7!2zODggSMmZc8mZbiBiyZl5IFrJmXJkYWJpIEvDvMOnyZlzaSwgQmFrxLEsIEF6yZlyYmF5Y2Fu!5e0!3m2!1saz!2s!4v1570903042430!5m2!1saz!2s" 
                                     frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center social-contact">
                    <div class="col-md-4">
                        <a class="btn-floating blue accent-1"><i class="fa fa-phone"></i></a>
                        <p>(+99470) 560 15 18</p>
                    </div>
                    <div class="col-md-4">
                        <a class="btn-floating blue accent-1"><i class="fa fa-map-marker"></i></a>
                        <p>@ViewBag.Translate1</p>
                    </div>
                    <div class="col-md-4">
                        <a class="btn-floating blue accent-1"><i class="fa fa-paper-plane"></i></a>
                        <p>bagca@dunyaschool.az</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
