
@using WorldMotherSchool.Areas.momsch.Models
@model EventAboutModel
<div class="main-content">

    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" asp-controller="Account" asp-action="Index">Dünya Ana Məktəbi</a>
            <ul class="navbar-nav align-items-center d-none d-md-flex">
                <li class="nav-item dropdown">
                    <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="media align-items-center">
                            <div class="media-body ml-2 d-none d-lg-block">
                                @if (Context.Session.GetObjectFromJson<SessionUserModel>("User") != null)
                                {
                                    var data = Context.Session.GetObjectFromJson<SessionUserModel>("User");
                                    <span class="mb-0 text-sm  font-weight-bold">@data.FirstName  @data.SecondName</span>
                                }
                                else
                                {
                                    <span class="mb-0 text-sm  font-weight-bold">Sabina Əliyeva</span>
                                }
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                        <div class=" dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Xoş Gəlmisiz!</h6>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a asp-controller="Account" asp-action="LogOut" class="dropdown-item">
                            <i class="ni ni-user-run"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
            </div>
        </div>
    </div>
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-12 mb-12 mb-xl-0">
                <div class="card bg-gradient-default shadow">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="text-white mb-0">Hadisə Əlavə et</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-body row">
                        <div class="container mt--8 pb-5">
                            <!-- Table -->
                            <div class="row justify-content-center">
                                <div class="col-lg-6 col-md-8">
                                    <div class="card bg-secondary shadow border-0">
                                        <div class="card-body px-lg-5 py-lg-5">
                                            <form role="form" method="post" enctype="multipart/form-data">
                                                <div asp-validation-summary="ModelOnly"></div>
                                                <div class="form-group">
                                                    <div class="input-group input-group-alternative mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Az</span>
                                                        </div>
                                                        <input class="form-control" asp-for="HeadAz" name="HeadAz" placeholder="Basliq" type="text">
                                                    </div>
                                                    <span asp-validation-for="HeadAz" style="color:red;"></span>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group input-group-alternative mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">En</span>
                                                        </div>
                                                        <input class="form-control" asp-for="HeadEn" name="HeadEn" placeholder="Basliq" type="text">
                                                    </div>
                                                    <span asp-validation-for="HeadEn" style="color:red;"></span>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group input-group-alternative mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Ru</span>
                                                        </div>
                                                        <input class="form-control" asp-for="HeadRu" name="HeadRu" placeholder="Basliq" type="text">
                                                    </div>
                                                    <span asp-validation-for="HeadRu" style="color:red;"></span>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group input-group-alternative mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                                        </div>
                                                        <input class="form-control" asp-for="DateTime" name="DateTime" placeholder="DateTime" type="date">
                                                    </div>
                                                   
                                                    <span asp-validation-for="DateTime" style="color:red;"></span>
                                                </div>
                                                <div class="file-field">
                                                    <a class="btn-floating purple-gradient mt-0 float-left">
                                                        <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
                                                        <input type="file" asp-for="Photo" name="Photo" id="fileimage" multiple>
                                                    </a>
                                                    <div class="file-path-wrapper" style="width: 34%;float: left;">
                                                        <input class="file-path validate" type="text" id="filetext" placeholder="Photo yüklə">
                                                    </div>
                                                    <div class="input-group input-group-alternative mb-3" style="margin-left: 254px;width: 43%">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                                        </div>
                                                        <input class="form-control" asp-for="Link" name="Link" placeholder="Link" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group input-group-alternative mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" style="color:black">Az</span>
                                                        </div>
                                                        <textarea class="form-control" asp-for="TextAz" name="TextAz" placeholder="Mətin" rows="6"></textarea>
                                                    </div>
                                                    <span asp-validation-for="TextAz" style="color:red;"></span>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group input-group-alternative mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" style="color:black">En</span>
                                                        </div>
                                                        <textarea class="form-control" asp-for="TextEn" name="TextEn" placeholder="Mətin" rows="6"></textarea>
                                                    </div>
                                                    <span asp-validation-for="TextEn" style="color:red;"></span>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group input-group-alternative mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" style="color:black">Ru</span>
                                                        </div>
                                                        <textarea class="form-control" asp-for="TextRu" name="TextRu" placeholder="Mətin" rows="6"></textarea>
                                                    </div>
                                                    <span asp-validation-for="TextRu" style="color:red;"></span>
                                                </div>
                                                <div class="text-center">
                                                    <button type="submit" class="btn btn-primary mt-4">Əlavə et</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                        &copy; 2019 <a href="#" class="font-weight-bold ml-1" target="_blank">Dunya Ana Merkezi</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>














