<footer class="page-footer font-small unique-color-dark">

    <div style="background-color: #6351ce;">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center text-md-left mt-5 footer-branch">
        <div class="row mt-3">
            <div class="col-md-12 col-lg-12 col-xl-3 mx-auto mb-md-0 mb-4 contact-info">
                <h6 class="text-uppercase font-weight-bold">@Localizer["Əlaqə"]</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fa fa-home mr-3"></i>@Localizer["Azərbaycan, Bakı şəhəri, Həsən bəy Zərdabi küçəsi,"]  88a
                </p>
                <p>
                    <i class="fa fa-envelope mr-3"></i>bagca@dunyaschool.az
                </p>
                <p>
                    <i class="fa fa-phone mr-3"></i> (+99470) 560 15 18
                </p>
                <p>
                    <i class="fa fa-print mr-3"></i><a href="http://dunyaanamektebi.az/" style="color:white;">www.dunyaanamektebi.az</a>
                </p>

            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">
        © 2019 Copyright:
        <a href="#">@Localizer["Dünya Ana Məktəbi"]</a>
    </div>
</footer>